<?xml version="1.0"?>
<opencv_storage>
<config>
  <deviceId>0</deviceId>
  <calibration>
    <cameraMat type_id="opencv-matrix">
      <rows>3</rows>
      <cols>3</cols>
      <dt>d</dt>
      <data>
        803.84217181432962 0. 339.28633636707895 0. 804.66231685845833
        225.48836481101463 0. 0. 1.</data></cameraMat>
    <distCoeffs type_id="opencv-matrix">
      <rows>5</rows>
      <cols>1</cols>
      <dt>d</dt>
      <data>
        0.26645037597881815 -0.95065664941140549 -0.014426257005734244
        -0.0028121259642627217 1.5651690148498996</data></distCoeffs></calibration>
  <colors>
    <black>
      <h>
        <start>99</start>
        <end>132</end></h>
      <s>
        <start>62</start>
        <end>146</end></s>
      <v>
        <start>2</start>
        <end>76</end></v>
      <erosions>3</erosions>
      <dilations>4</dilations></black>
    <blue>
      <h>
        <start>106</start>
        <end>114</end></h>
      <s>
        <start>170</start>
        <end>246</end></s>
      <v>
        <start>137</start>
        <end>177</end></v>
      <erosions>8</erosions>
      <dilations>7</dilations></blue>
    <cyan>
      <h>
        <start>102</start>
        <end>172</end></h>
      <s>
        <start>120</start>
        <end>206</end></s>
      <v>
        <start>189</start>
        <end>236</end></v>
      <erosions>4</erosions>
      <dilations>5</dilations></cyan>
    <green>
      <h>
        <start>71</start>
        <end>92</end></h>
      <s>
        <start>42</start>
        <end>101</end></s>
      <v>
        <start>116</start>
        <end>172</end></v>
      <erosions>3</erosions>
      <dilations>5</dilations></green>
    <grey>
      <h>
        <start>102</start>
        <end>120</end></h>
      <s>
        <start>38</start>
        <end>64</end></s>
      <v>
        <start>199</start>
        <end>238</end></v>
      <erosions>16</erosions>
      <dilations>15</dilations></grey>
    <purple>
      <h>
        <start>147</start>
        <end>163</end></h>
      <s>
        <start>97</start>
        <end>206</end></s>
      <v>
        <start>99</start>
        <end>151</end></v>
      <erosions>2</erosions>
      <dilations>3</dilations></purple>
    <red>
      <h>
        <start>157</start>
        <end>178</end></h>
      <s>
        <start>92</start>
        <end>255</end></s>
      <v>
        <start>38</start>
        <end>161</end></v>
      <erosions>4</erosions>
      <dilations>9</dilations></red>
    <yellow>
      <h>
        <start>26</start>
        <end>38</end></h>
      <s>
        <start>31</start>
        <end>111</end></s>
      <v>
        <start>163</start>
        <end>219</end></v>
      <erosions>1</erosions>
      <dilations>1</dilations></yellow></colors>
  <projection type_id="opencv-matrix">
    <rows>3</rows>
    <cols>3</cols>
    <dt>d</dt>
    <data>
      1.3583369951723241 0.16256692761370897 -145.86588525019394
      -0.06340812915814828 1.4221537539756108 -57.529289754771355
      -2.4503414931870475e-05 0.00028826994625634521 1.</data></projection>
  <circleParams>
    <cannyThreshold>14</cannyThreshold>
    <accumulatorThreshold>39</accumulatorThreshold>
    <minDist>27</minDist>
    <radius>
      <start>39</start>
      <end>47</end></radius></circleParams></config>
</opencv_storage>
