<?xml version="1.0"?>
<opencv_storage>
<config>
  <deviceId>0</deviceId>
  <calibration>
    <cameraMat type_id="opencv-matrix">
      <rows>3</rows>
      <cols>3</cols>
      <dt>d</dt>
      <data>
        803.84217181432962 0. 339.28633636707895 0. 804.66231685845833
        225.48836481101463 0. 0. 1.</data></cameraMat>
    <distCoeffs type_id="opencv-matrix">
      <rows>5</rows>
      <cols>1</cols>
      <dt>d</dt>
      <data>
        0.26645037597881815 -0.95065664941140549 -0.014426257005734244
        -0.0028121259642627217 1.5651690148498996</data></distCoeffs></calibration>
  <colors>
    <black>
      <h>
        <start>103</start>
        <end>117</end></h>
      <s>
        <start>48</start>
        <end>148</end></s>
      <v>
        <start>0</start>
        <end>118</end></v>
      <erosions>1</erosions>
      <dilations>1</dilations></black>
    <blue>
      <h>
        <start>105</start>
        <end>111</end></h>
      <s>
        <start>90</start>
        <end>255</end></s>
      <v>
        <start>0</start>
        <end>255</end></v>
      <erosions>4</erosions>
      <dilations>3</dilations></blue>
    <cyan>
      <h>
        <start>97</start>
        <end>107</end></h>
      <s>
        <start>46</start>
        <end>119</end></s>
      <v>
        <start>194</start>
        <end>255</end></v>
      <erosions>1</erosions>
      <dilations>1</dilations></cyan>
    <darkred>
      <h>
        <start>123</start>
        <end>173</end></h>
      <s>
        <start>16</start>
        <end>213</end></s>
      <v>
        <start>21</start>
        <end>152</end></v>
      <erosions>2</erosions>
      <dilations>5</dilations></darkred>
    <green>
      <h>
        <start>82</start>
        <end>103</end></h>
      <s>
        <start>39</start>
        <end>143</end></s>
      <v>
        <start>42</start>
        <end>188</end></v>
      <erosions>2</erosions>
      <dilations>3</dilations></green>
    <orange>
      <h>
        <start>7</start>
        <end>18</end></h>
      <s>
        <start>40</start>
        <end>250</end></s>
      <v>
        <start>45</start>
        <end>218</end></v>
      <erosions>3</erosions>
      <dilations>3</dilations></orange>
    <purple>
      <h>
        <start>110</start>
        <end>125</end></h>
      <s>
        <start>51</start>
        <end>144</end></s>
      <v>
        <start>63</start>
        <end>255</end></v>
      <erosions>1</erosions>
      <dilations>1</dilations></purple>
    <red>
      <h>
        <start>150</start>
        <end>179</end></h>
      <s>
        <start>0</start>
        <end>255</end></s>
      <v>
        <start>0</start>
        <end>255</end></v>
      <erosions>1</erosions>
      <dilations>5</dilations></red>
    <sage>
      <h>
        <start>70</start>
        <end>101</end></h>
      <s>
        <start>17</start>
        <end>40</end></s>
      <v>
        <start>99</start>
        <end>193</end></v>
      <erosions>1</erosions>
      <dilations>1</dilations></sage>
    <white>
      <h>
        <start>94</start>
        <end>114</end></h>
      <s>
        <start>12</start>
        <end>33</end></s>
      <v>
        <start>189</start>
        <end>255</end></v>
      <erosions>1</erosions>
      <dilations>1</dilations></white>
    <yellow>
      <h>
        <start>27</start>
        <end>44</end></h>
      <s>
        <start>22</start>
        <end>119</end></s>
      <v>
        <start>163</start>
        <end>255</end></v>
      <erosions>1</erosions>
      <dilations>1</dilations></yellow></colors>
  <projection type_id="opencv-matrix">
    <rows>3</rows>
    <cols>3</cols>
    <dt>d</dt>
    <data>
      1.4022748879064602 0.098933504361498753 -149.23043768754241
      0.050494595361693755 1.720422999109142 -161.6079524551013
      2.1873838976128952e-05 0.0003941250246188225 1.</data></projection>
  <circleParams>
    <cannyThreshold>22</cannyThreshold>
    <accumulatorThreshold>15</accumulatorThreshold>
    <minDist>9</minDist>
    <radius>
      <start>11</start>
      <end>19</end></radius></circleParams></config>
</opencv_storage>
